*{
    font-weight: bold;
    color:darkorange;
}

*{
    color: plum;
}

p{
    color: olivedrab;
}

.blue{
    color:blue;
}

p.blue{
    color:aqua;
}

.blue.dark{
color:yellow;
}

#red{
    color:tomato;
}

span, .dark, #red{
    text-decoration: underline;
}